@import "./header.scss";
//master-nav-wrap
body{
    background: #F7F4F8;
    .master-nav-wrap{
        background: yellow;
        height: 40px;
        .master-nav-cf{
            background-color: yellowgreen;
            margin: auto;
             width: 1210px;
             height: 40px;
           .interaction{
                background: #D52C27;
                color: #fff;
                font-family: "Microsoft Yahei";
                font-size: 15px;
                font-weight: 700;
                text-align: left;
                width: 208px;
                height: 40px;
                line-height: 40px;
                float: left;
                span{
                    float: left;
                    margin: 0 7px;
                }
                h2{
                    margin-left:10px;
                    float: left;
                }
             }
             .cf{
                 width: 1002px;
                 height: 40px;
                 float: left;
                 line-height: 40px;
                 ul{
    
                     li{
                         float: left;
                         a{
                            display: inline-block;
                            font-family: "Microsoft Yahei";
                            font-size: 16px;
                            font-weight: 400;
                            padding: 0 14px;
                            text-decoration: none;
                         }
                     }
                 }
             }
            
        }
    }
    .swiper-container{
        width: 100%;
        height: 480px;
        line-height: 480px;
        box-shadow: 0 0 5px #dddddd;
        text-align: center;
        position: relative;
       .swiper-list{
           height: 480px;
           width: 208px;
        //    background-color: yellowgreen;
        background: rgba(255,253,252,.9);
           position: absolute;
           left:347px;
           z-index:2;
           box-sizing: border-box;
           //dl
          .list-mainmenu{
            margin: auto 0;
            padding: 5px 6px;
            border: 2px solid rgba(255,253,252,0);
            margin: auto 0;
            display: block;
            width: 208px;
            height: 78px;
            box-sizing: border-box;
            .second_title{
                height: 24px;
                line-height: 24px;
                overflow: hidden;
                font-size: 14px;
                color: #323232;
                font-weight: 600;
                position: relative;
                display: block;
                left: -65px;
            }
            dd{
                height: 20px;
                 line-height: 20px;
                 float: left;
                 a{
                     text-decoration: none;
                     color: #666;
                    display: inline-block;
                    vertical-align: middle;
                    white-space: nowrap;
                    font-size: 12px;
                 }
    
                 b{
                    width: 1px;
                    height: 12px;
                    margin: 0 8px;
                    background: #d6d6d6;
                    display: inline-block;
                 }
            }
          }
          dl:nth-of-type(4){
            height: 58px;
          }
          dl:nth-of-type(5){
            height: 58px;
            dd{
                b{
                    margin: 0 6px; 
                }
            }
          }
          dl:nth-of-type(6){
            height: 58px;
          }
          dl:nth-of-type(7){
            height: 38px;
            .second_tit{
                height: 24px;
                line-height: 24px;
                overflow: hidden;
                font-size: 14px;
                color: #323232;
                font-weight: 600;
                position: relative;
                display: block;
                left: -45px;
            }
           
          }
          dl:nth-of-type(8){
            height: 38px;
          }
        }
    }
    .mod{
        overflow: hidden;
        width: 1210px;
        margin: 0 auto;
        margin-top: 13px;
        margin-bottom: 32px;
        // background-color: yellow;
        
        .item-list{
            width: 162px;
            height: 224px;
            background: rgba(255,255,255,1);
            float: left;
            padding: 15px 20px;
            cursor: pointer;
            box-shadow: -5px 0 16px #eee;
            transition: all .4s;
            button{
                outline: 0;
                position: absolute;
                width: 96px;
                height: 38px;
                border-radius: 19px;
                cursor: pointer;
                background: url(../images/mod-product-promotion-goto-bg.png);
                display: none;
            }
            .title{
                margin-top: 17px;
                margin-left: 12px;
                height: 70px;
                h5{
                    font-size: 20px;
                    color: #D52C27;
                    font-weight: 600;
                    height: 29px;
                    line-height: 26px;
                }
                p{
                    font-size: 14px;
                    color: #666;
                    height: 20px;
                    line-height: 20px;
                }
            }
            img{
                width: 120px;
                height: 120px;
                margin: 0 auto;
                display: block;
            }
        }
       
        .active{
            width: 360px;
            height: 224px;
            position: relative;
            background: url(../images/mod-product-promotion-list-bg.png);
            float: left;
            padding: 15px 20px;
            cursor: pointer;
            box-shadow: -5px 0 16px #eee;
            transition: all .4s;
            button{
                display: block;
            }
            .title{
                h5{
                    font-size: 28px;
                }
            }
            img{
                display: inline-block;
                outline: 0;
                position: absolute;
                top: 86px;
                right: 40px;

            }
            
        }
        div:nth-of-type(2){
            .title{
                h5{
                    color: #993DEE;
                }
            }

        }
        div:nth-of-type(3){
            .title{
                h5{
                    color: #5FB02E;
                }
            }

        }
        div:nth-of-type(4){
            .title{
                h5{
                    color: #F3573E;
                }
            }

        }
        div:nth-of-type(5){
            .title{
                h5{
                    color: #2A85EF;
                }
            }

        }
    }
    .mod-home{
        width: 1210px;
        margin: 0 auto;
        background-color: white;
        .timer{
            width: 187px;
            height: 222px;
            padding: 29px 24px;
            text-decoration: none;
            background: url(../images/home-seckill-timer-bg.png);
            float: left;
            cursor: pointer;
            margin: 0 6px 15px 0;
            text-align: left;
            .title{
                height: 111px;
                h5{
                    width: 106px;
                    height: 25px;
                    font-size: 25px;
                    font-family: Microsoft YaHei;
                    font-weight: 700;
                    color: #fff;
                    line-height: 22px;
                }
                p{
                    width: 79px;
                    height: 12px;
                    font-size: 14px;
                    font-family: Microsoft YaHei;
                    font-weight: 400;
                    color: #FFBCBC;
                    line-height: 22px;
                }
            }
            .end-title{
                    font-size: 16px;
                     color: #fff;
                     font-family: Microsoft YaHei;
                     font-weight: 400;
                     color: rgba(255,255,255,1);
                     margin-bottom: 15px;

            }
            .time-con{
                margin-bottom: 14px;
                span{
                    display: inline-block;
                    width: 38px;
                    height: 38px;
                    background: rgba(86,20,26,1);
                    border-radius: 4px;
                    color: #fff;
                    font-size: 22px;
                    font-weight: 600;
                    text-align: center;
                    line-height: 38px;
                }
                label{
                    position: relative;
                    top: -15px;
                    font-size: 22px;
                    color: #fff;
                    font-weight: 600;
                }
            }
            span{
                color: #FFBCBC;
                font-size: 14px;

            }
        }
        .product-list{
            width: 228px;
            height: 280px;
            background: #fff;
            float: left;
            text-align: center;
            cursor: pointer;
            border: 1px solid #fff;
            margin: 0 6px 15px;
            a{
                display: block;
                text-decoration: none;
                color: #666;
                text-align: center;
                img{
                    width: 146px;
                     height: 146px;
                     margin-top: 24px;
                }
                .bookname{
                    width: 100%;
                    font-size: 14px;
                    font-family: Microsoft YaHei;
                    font-weight: 400;
                    color: rgba(102,102,102,1);
                    margin: 11px 0 17px;
                    height: 22px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    line-height: 21px;
                }
                .price{
                    width: 200px;
                    height: 36px;
                    margin: 0 auto;
                    border: 1px solid #E4393C;
                    .seckill-price{
                        width: 60%;
                        height: 36px;
                        float: left;
                        background: #E4393C;
                        font-size: 14px;
                        font-weight: 600;
                        color: #fff;
                        line-height: 36px;

                    }
                    s{
                        width: 40%;
                        height: 36px;
                        float: left;
                        color: #888;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 36px;
                    }
                }
            }
        }
    }
    .module{
        width: 1210px;
        margin: 0 auto;
        background-color: rebeccapurple;
        .common-module{
            height: 81px;
            // background-color: yellow;
            background: #F7F4F8;
            border-bottom: 1px solid #e2e2e2;
            position: relative;
            .common-jx{
                width: 210px;
                height: 81px;
                line-height: 80px;
                float: left;
                position: relative;
                h5{
                    display: inline-block;
                    color: #333;
                    font-size: 24px;
                    font-weight: 700;
                }
                img{
                    display: inline-block;
                    position: absolute;
                    top:29px;
                    right: 80px;
                }
            }
            .common-title{
                float: left;
                position: absolute;
                width: 1000px;
                height: 60px;
                left:200px;
                top: 18px;
                line-height: 60px;
                box-sizing: border-box;
                ul{
        
                    li{
                        float: left;
                        padding: 0 10px;
                        font-size: 15px;
                        border-bottom: 3px solid transparent;
                        box-sizing: border-box;
                        a{
                            display: block;
                            color: #000;
                            text-decoration: none;
                            text-align: center;
                        }
                        &:hover{
                            border-bottom: 3px solid  #e4393c; 
                            color: #E4393C;
                        }
                    }
                }
            }
           
         
        }
        .wx-keywords{
            width: 1210px;
            height: 59px;
            padding: 20px 0;
            box-sizing: border-box;
            // background-color: yellowgreen;
            background: #F7F4F8;
            p{
                a{
                    text-decoration: none;
                    color: #666;
                    font-size: 13px;
                    display: inline-block;
                    padding: 0 15px;
                    height: 14px;
                    text-align: center;
                    line-height: 14px;
                    border-right: 1px solid #e8e8e8;
                }
                a:nth-of-type(15){
                    border-right:0;
                }
            }
        }
        .bt-row{
            width: 1210px;
            background-color: rebeccapurple;
            overflow: hidden;
            .box{
                width: 1230px;
                .bt-col{
                    width: 230px;
                    box-sizing: border-box;
                    background: #fff;
                    border: 1px solid transparent;
                    padding: 24px;
                    height: 300px;
                    margin-right: 4.5px;
                    margin-left: 7.5px;
                    margin-bottom: 15px;
                    float: left;
                    &:hover{
                        border: 1px solid red;
                        opacity: 0.8;
                    }
                    img{
                        display: block;
                        width: 146px;
                        height: 146px;
                        overflow: hidden;
                        margin: 0 auto;
                    }
                    .name{
                        margin: 20px 0 5px;
                        color: #333;
                        height: 16px;
                        line-height: 16px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-size: 14px;
                    }
                    .author{
                        margin-bottom: 26px;
                        height: 16px;
                        line-height: 16px;
                        color: #999;
                        font-size: 12px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                    .price{
                        .price-l{
                            font-size: 14px;
                            font-weight: 700;
                            color: #E4393C;
                        }
                        .price-r{
                            float: right;
                            font-size: 12px;
                            color: #888;
                            text-decoration: line-through;
                        }
                    }
                }
            }
      
            .common-moudle2{
                position: relative;
                width: 1210px;
                height: 80px;
                color: #333;
                font-size: 24px;
                font-weight: 700;
                background-color: yellow;
                h5{
                    position: absolute;
                    top: 30px;
                }
                img{
                    position: absolute;
                    top: 30px;
                    left: 110px;
                }
                span{
                    display: inline-block;
                    position: absolute;
                    top: 36px;
                    left: 150px;
                    color: #999;
                    font-size: 14px;
                }

            }
            .model-autor{
                width: 1210px;
                background-color: pink;
                height: 506px;
                .grid-modl{
                    width: 1000px;
                    height: 506px;
                    float: left;
                    .tab{
                        box-sizing: border-box;
                        width: 1000px;
                        border-bottom: 1px solid #eee;
                        height: 60px;
                        ul{
                            li{
                                float: left;
                                width: 80px;
                                text-align: center;
                                padding: 0 10px;
                                border-bottom: 3px solid transparent;
                                a{
                                    font-size: 15px;
                                    text-decoration: none;
                                    line-height: 59px;
                                    color: #000;
                                }
                                &:hover{
                                    border-bottom: 3px solid #e4393c;  
                                }
                            }
                        }
                    }
                    .autor-box{
                        width: 1000px;
                        height: 203px;
                        padding: 24px;
                        box-sizing: border-box;
                        img{        
                            float: left;
                        }
                        .autor-intro{ 
                            box-sizing: border-box;
                            float: left;
                            .autor-name{
                                font-size: 20px;
                                font-weight: 700;
                                color: #333;
                                margin-left: 24px;
                                margin-bottom: 16px;
                                width: 774px;
                                height: 30px;
                            }
                            .autor-info{
                                width: 100%;
                                height: 109px;
                                color: #888;
                                font-size: 14px;
                                padding-left: 24px;
                                box-sizing: border-box;
                                overflow: hidden;
                                width: 798px;
                                height: 109px;
                            }
                        }
                    }
                    .row-wrap{
                        border-top: 1px solid #eee;
                        width: 100%;
                        height: 245px;
                        overflow: hidden;
                        ul{
                            li{
                                float: left;
                                padding: 20px 20px 31px 16px;
                                border-right: 1px solid #EEE;
                                box-sizing: border-box;
                                img{
                                    display: block;
                                    margin: 0 auto;
                                    width: 120px;
                                    height: 120px;
                                }
                                p{
                                    margin: 20px 0 5px;
                                    color: #333;
                                    height: 40px;
                                    overflow: hidden;
                                    font-size: 14px;
                                }
                                .price{
                                    .pricel{
                                        font-size: 14px;
                                        font-weight: 700;
                                        color: #E4393C;
                                    }
                                    .pricer{
                                        float: right;
                                        font-size: 12px;
                                        color: #888;
                                        text-decoration: line-through;
                                    }
                                }
                            }
                        }
                    }
                }
                .grid-modr{
                    width: 210px;
                    height: 506px;
                    background-color: yellowgreen;
                    float: left;
                    border-left: 1px solid #eee;
                    box-sizing: border-box;
                    .hot-autor{
                        box-sizing: border-box;
                        border-bottom: 1px solid #eee;
                        height: 60px;
                        font-size: 16px;
                        font-weight: 700;
                        color: #000;
                        text-align: center;
                        line-height: 59px;
                    }
                    .cont{
                        ul{
                            li{
                                width: 50%;
                                box-sizing: border-box;
                                padding: 0 10px;
                                text-align: center;
                                margin: 0;
                                height: 40px;
                                line-height: 40px;
                                float: left;
                                color: #999;
                            }
                        }
                    }
                }

            }
            .col-big{
                width: 1210px;
                height: 190px;
                background-color: whitesmoke;
                overflow: hidden;
                .tab{
                    width: 1210px;
                    height: 59px;
                    background-color: white;
                    border-bottom: 1px solid #eee;
                    box-sizing: border-box;
                    a{
                        display: inline-block;
                        width: 136px;
                        height: 56px;
                        text-decoration: none;
                        padding: 0 10px;
                        text-align: center;
                        line-height: 58px;
                        color: #E4393C;
                        font-weight: 700;
                        font-size: 15px;
                        border-bottom: 3px solid #e4393c;
                    }
                }
                .cont{
                    width: 1220px;
                    height: 130px;
                    background-color: white;
                    .img{
                        float: left;
                        width: 201px;
                        height: 129px;
                        border-left: 1px solid #F1F1F1;
                        border-bottom: 1px solid #F1F1F1;
                        img{
                            display: block;
                            width: 180px;
                            height: 90px;
                            margin: 0 10px;
                        }
                        a{
                            display: block;
                            width: 200px;
                            height: 48px;
                            line-height: 48px;
                            background: rgba(0,0,0,.3);
                            text-decoration: none;
                            font-size: 14px;
                            color: #fff;
                            text-align: center;
                            display: none;
                        }
                        &:hover{
                            a{
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
   
}



