@import "./header.scss";
//master-nav-wrap
.master-nav-wrap{
    background: yellow;
    height: 40px;
    .master-nav-cf{
        background-color: yellowgreen;
        margin: auto;
         width: 1210px;
         height: 40px;
       .interaction{
            background: #D52C27;
            color: #fff;
            font-family: "Microsoft Yahei";
            font-size: 15px;
            font-weight: 700;
            text-align: left;
            width: 208px;
            height: 40px;
            line-height: 40px;
            float: left;
            span{
                float: left;
                margin: 0 7px;
            }
            h2{
                margin-left:10px;
                float: left;
            }
         }
         .cf{
             width: 1002px;
             height: 40px;
             float: left;
             line-height: 40px;
             ul{

                 li{
                     float: left;
                     a{
                        display: inline-block;
                        font-family: "Microsoft Yahei";
                        font-size: 16px;
                        font-weight: 400;
                        padding: 0 14px;
                        text-decoration: none;
                     }
                 }
             }
         }
        
    }
}
.swiper-container{
    width: 100%;
    height: 480px;
    line-height: 480px;
    box-shadow: 0 0 5px #dddddd;
    text-align: center;
    position: relative;
   .swiper-list{
       height: 480px;
       width: 208px;
       background-color: yellowgreen;
       position: absolute;
       left:347px;
       z-index:2;
       //dl
      .list-mainmenu{
        margin: auto 0;
        padding: 5px 6px;
        border: 2px solid rgba(255,253,252,0);
        margin: auto 0;
        display: block;
        .second_title{
            height: 24px;
            line-height: 24px;
            overflow: hidden;
            font-size: 14px;
            color: #323232;
            font-weight: 600;
        }
        }
       }
   }


