@import "./reset";
body{
    
    background: #f5f5f5;
    .cart{
        margin: 0 auto;
        width: 1016px;
        .header{
            width: 1016px;
            height: 48px;
            // background-color: yellow;
            p{
                float: right;
                width: 80px;
                color: #7e7e7e;
                font-size: 18px;
                line-height: 46px;
                text-align: right;
                cursor: pointer;
            }
        }
        .progress{
            width: 1016px;
            height: 33px;
            margin: 10px 0;
            background: #ccc url(https://static.winxuancdn.com/css/v1/images/bread-buy.jpg) no-repeat 0 0;
        }
        .content{
            width: 1016px;
            height: 334px;
            margin: 30px 0;
            background-color: #f9f9f9;
            border: 1px solid #d9d9d9;
            box-sizing: border-box;
            display: none;
            .empty{ 
                background:  url(https://static.winxuancdn.com/css/v1/images/emptycart.jpg) 250px 30px no-repeat;
                // border: 1px solid #d9d9d9; 
                width: 990px;
                height: 200px;
                margin: 65px 10px;
                float: left;
                line-height: 200px;     
                // background-color: yellow;
                .title{
                  float: right;
                  margin-left: 400px;
                  margin-top: 65px;
                  p{
                      width: 590px;
                      float: left;
                      height: 25px;
                      line-height: 20px;
                      color: #212529;
                      font-size: 15.6px;
                      span{
                        color: #06c;
                        font-size: 18.72px;
                      }

                  }
                }
                
            }

        }
        .button-wrap{
            width: 1016px;
            height: 80px;
            display: none;
            .continue{
                float: left;
                width: 142px;
                height: 45px;
                background-image: url(https://static.winxuancdn.com/css/v1/images/balance-button.jpg);
                background-position: 0 -4px;
            }
            .balance{
                width: 208px;
                height: 45px;
                float: right;
                background-image: url(https://static.winxuancdn.com/css/v1/images/balance-button.jpg);
                background-position: -142px -4px;
            }
        }
   
 
#main{
 padding: 30px 0px;
}
 
#cart{
 background: #FFFFFF;
 padding: 40px;
}
 
#cart h1{
 line-height: 40px;
 padding: 0px 0px 10px 0px;
}
 
table.form{
 border-collapse: collapse;
 empty-cells: show;
 margin: 20px 0px;
 padding: 0px;
 table-layout: fixed;
 width: 100%;
}
 
table.form th,
table.form td{
 border-bottom: 1px solid #DDDDDD;
 padding: 15px 10px;
 text-align: left;
}
 
table.form{
 border-top: 3px solid #DDDDDD;
}
 
.goods .goods-image img{
 border: 1px solid #DDDDDD;
 float: left;
 height: 100px;
 margin: 0px 20px 0px 0px;
}
 
.goods .goods-information{
 float: left;
}
 
.goods .goods-information ul{
 color: #666666;
 font-size: 12px;
 line-height: 20px;
 margin:10px 0px 0px 0px;
}
 
.price,
.amount,
#total-amount{
 color: #E00000;
}
 
#total-amount{
 font-size: 22px;
}
 
.price em,
.amount em,
#total-amount em{
 font-style: normal;
}
 
.combo .combo-minus,
.combo .combo-value,
.combo .combo-plus{
 background: #FFFFFF;
 border: 1px solid #DDDDDD;
 color: #333333;
 float: left;
 font-weight: bold;
 margin: 0px;
 outline: none;
 text-align: center;
}
 
.combo .combo-minus,
.combo .combo-plus{
 font-size: 16px;
 height: 26px;
 line-height: 26px;
 padding: 0px;
 width: 24px;
}
 
.combo .combo-value{
 border-left: none;
 border-right: none;
 height: 20px;
 line-height: 20px;
 padding: 2px;
 width: 40px;
}
 
#cart-delete{
 margin-left: 20px;
}
 
#settlement{
 background: #E00000;
 border: none;
 color: #FFFFFF;
 float: right;
 font-size: 16px;
 height: 40px;
 line-height: 40px;
 margin: 0px;
 outline: none;
 padding: 0px;
 width: 160px;
}
    }


}
